<!DOCTYPE html>
<html>
  <head>
    <title>%TITLE%</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7cRoboto:400,400i,900,900i%7cRoboto+Mono:400,700&amp;subset=greek" />
    <link rel="stylesheet" href="assets/Lecture.css" />
    <script src="assets/jquery.min_3.1.0.js"></script>
    <script src="assets/remark-0.14.0.min.js"></script>
    <script src="assets/Lecture.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS_CHTML"></script>
  </head>
  <body>
    <textarea id="source">
    </textarea>
    <script>
      var slideshow = remark.create(%SOURCE%, addCodePrompt);
    </script>
  </body>
</html>
